// ====================
// HEADER - PAGE D'ACCUEIL
// ====================

.header-top,
.header-bottom {
  @include flex-column-center;
}

.header-top {
 
  height: 63px;
  background-color: $background-light;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.43);

  .logo img {
    height: 30px;
    margin-top: 20px;
    border-radius: 0;
  }

}

.header-bottom {
  width: 100%;
  height: 50px;
  background-color: $background-grey;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  box-shadow:
    0px -2px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: $spacing-xxs;
}

// ====================
// LOCALISATION
// ====================



.localisation 
  .fa-solid {
    width: 12px;
    height: 16px;
  }
 

.recherche {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5px;
  padding: $spacing-xs $spacing-xxs $spacing-xs 60px;
}

.form-input {
  width: 100%;
  font-weight: $font-weight-medium;
  font-size: $font-size-base;
  outline: none;
  border: none;
  background-color: $background-grey;
  font-family: $font-main;
}
