// ====================
// NAVIGATION & INFORMATIONS
// ====================

.informations {
  @include flex-column-center;
  background-color: $background-light;
}

.title-and-subtitle {
  font-family: $font-main;
  text-align: center;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: $spacing-lg;

  h1 {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
  }
  
  p{
    font-size: 16px;
    padding-top: 10px;
  }
 
}
