* {
  font-family: "Roboto", sans-serif;
}

.body {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --color-tertiary: #99e2d0;
  --background-color: #f5f5f5;
  --font-family-logo: "Skrikhand", sans-serif;
}

/* >= 768px */
@media (max-width: 768px) {
  /* Code CSS... */

  body {
    margin: 0;
    padding: 0;
  }

  .main-conteneur {
    display: flex;
    flex-direction: column;
  }

  /**header styles**/

  .header-top,
  .header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .header-top {
    width: 100%;
    height: 63px;
    background-color: #f6f6f6;
    box-shadow: 0px 2px 4px 0px #0000006d;
  }

  .header-top .logo img {
    width: 162px;
    height: 44px;
  }

  .header-bottom {
    width: 100%;
    height: 50px;
    background-color: #eaeaea;
    border-bottom: 2px solid #00000040;
    box-shadow:
      0px -2px 4px 0px #00000040,
      0px 4px 4px 0px #00000040;
    padding: 0;
  }

  .localisation .fa-solid {
    width: 12px;
    height: 16px;
  }
  .localisation .form-input {
    width: 109px;
    font-weight: 500;
    font-size: 16px;
    outline: none;
  }

  /*barre de recherche styles**/

  .recherche {
    display: flex;
    align-items: center;
    gap: 17px;
    padding: 10px 20px;
  }
  .form-input {
    border: none;
    background-color: #eaeaea;
    font-family: var(--font-family-main);
  }

  /**nav styles**/

  .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
  }

  .title-and-subtitle {
    font-family: var(--font-family-main);
    text-align: center;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 20px;
  }
  .title-and-subtitle h1 {
    font-size: 24px;
    font-weight: 700;
  }
  .title-and-subtitle p {
    width: 315px;
    height: 46px;
    font-size: 18px;
    font-weight: 300;
  }

  .btn {
    width: 218px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to top, #9356dc, #ff79da);
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 10px 0px #00000040;
    transition: all 0.8s ease;
  }

  .btn:hover {
    filter: brightness(1.3);
    box-shadow: 0px 15px 15px 0px #00000060;
  }

  .explorer {
    text-decoration: none;
    color: white;
    font-family: var(--font-family-main);
  }

  /**main fonctionnement styles**/

  main {
    margin-top: 40px;
  }

  /**choix=3 boutons réunis**/

  .choix {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 0;
    padding-right: 20px;
  }

  /**bloc fonctionnement**/

  .fonctionnement {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding-left: 20px;
    padding-bottom: 40px;
  }
  /**intérieur des boutons**/

  .btn-fonctionnement {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px #00000026;
    background-color: #f6f6f6;
    padding: 10px;
    gap: 10px;
    width: 100%;
  }

  #fa-fonctionnement {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20px;
    height: 20px;
    color: #7e7e7e;
    padding-left: 15px;
  }

  #fa-fonctionnement:hover {
    color: var(--primary-color);
  }

  .proposition {
    display: inline-block;  
    padding-right: 50px; 
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
  }

  /**restaurant cards styles**/

  .restaurants {
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .restaurants-title {
    padding-left: 20px;
  }

  .card {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 18px;
  }

  .conteneur-image {
    position: relative;
    width: 100%;
  }

  .card img {
    width: 100%;
    height: 231px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .badge {
    position: absolute;
    width: 80px;
    height: 29px;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99e2d0;
    font-weight: 500;
    font-size: 14px;
    color: #008766;
  }

  .card-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    background-color: #ffffff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 15px 0px #0000001a;
  }
  a {
    text-decoration: none;
  }

  .card-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    color: #000;
    line-height: 100%;
    letter-spacing: 0%;
    padding-left: 10px;
  }

  .card-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 0;
  }

  .card-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 17px;
    margin-top: 10px;
  }

  .card-rating {
    display: flex;
    justify-content: flex-end;
    width: 22px;
    height: 21px;
    padding-right: 20px;
  }

  input.check {
    display: none;
  
  }
  .checkbox {
    position: relative;
    cursor: pointer;
  }
  .heart-empty {
    font-size: 22px;
  
  }

  .heart-full {
    position: absolute;
    right: 0px;
    font-size: 22px;
    opacity: 0;
    color: transparent;
  }

  input.check:checked + .checkbox .heart-full {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    opacity: 1;
   
  }

  /**footer styles**/

  footer {
    display: flex;
    flex-direction: column;
    background-color: #353535;
    color: white;
    padding: 0 25px 0 25px;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 7px;
  }

  li {
    display: flex;
    align-items: center;
  }

  a.mail {
    text-decoration: none;
    color: white;
  }

  .footer-title {
    margin-bottom: 15px;
    font-family: "Shrikhand", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  li img {
    margin-right: 8px;
  }
}
