  .loader {
    position: fixed;
    top: 0; 
    z-index: 9999;
    animation: fadeOut 1s ease-in-out 3s forwards;
    padding: 20px; 
    box-sizing: border-box; 
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, $primary-color, $secondary-color);
    @include flex-center;

    
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        width: 100%;
        padding: 0 15px; 
        box-sizing: border-box;
    }
    
    &__logo {
        width: 100%; 
        max-width: 280px;
        border-radius: 0;
        height: auto;
        filter: brightness(0) invert(1);
        animation: pulse 1.5s ease-in-out infinite;
    }
    
    &__text {
        color:$white;
        font-size: $font-size-large;
        font-family: $font-logo;
        animation: fadeIn 0.8s ease-in;
    }
    
    &__bar {
        width:250px;
        height: 5px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 10px;
        overflow: hidden;
    }
    
    &__progress {
        height: 100%;
        background: white;
        border-radius: 10px;
        animation: loading 3s ease-in-out forwards;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes loading {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}




