
@media (min-width: 768px) and (max-width: 1024px) {
  /* styles tablette */

.header-bottom {
 border: 0;
 box-shadow:none;
}


// ====================
// BOUTONS FONCTIONNEMENT
// ====================

.btn-fonctionnement {
  width:30%;
  height: 72px;
 }
.choix {
 margin-left:90px;
 margin-right: 90px;
}

.fonctionnement h2 {
 margin-left:  90px;
 margin-right: 90px;
}

.restaurants {
  padding-left: 90px;
  padding-right: 90px;
}

.card {
   display: flex;
   flex-direction: column; 
   width: 50%;
 }


.restaurants-cards {
  display: flex;
  flex-wrap: wrap;   
}
// ====================
// FOOTER
// ====================

footer {
  padding: 0 $spacing-md 0 $spacing-md;
  
 .footer-title {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
   padding-top: 40px;

  }

  ul {
  
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: $spacing-md;
    padding-right: 193px;
  
  
  }


}

// ====================
// PAGE MENU RESTAURANT
// ====================




.carte {
  margin-left: 193px;
  margin-right: 193px;
}



}

@media (min-width: 1024px) and (max-width: 1440px) {
 

.header-bottom {
 border: 0;
 box-shadow:none;
}


// ====================
// BOUTONS FONCTIONNEMENT
// ====================

.btn-fonctionnement {
  width:30%;
  height: 72px;
 }
.choix {
 margin-left:180px;
 margin-right: 180px;
  padding-right: 0;
 gap:40px;
}

.fonctionnement h2 {
 margin-left:  180px;
 margin-right: 180px;

}

.restaurants {
  padding-left:180px;
  padding-right: 180px;
}

.card {
   display: flex;
   flex-direction: column; 
   width: 50%;
 }


.restaurants-cards {

  display: flex;
  flex-wrap: wrap;
   
}

// ====================
// FOOTER
// ====================

footer {
  padding: 0 $spacing-md 0 $spacing-md;
  
 .footer-title {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
   padding-top: 40px;

  }

  ul {
  
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: $spacing-md;
    padding-right: 193px;
  
  
  }

}

// ====================
// PAGE MENU RESTAURANT
// ====================




.carte {
  margin-left: 193px;
  margin-right: 193px;
}

}

@media (min-width: 1440px) and (max-width: 1919px) {
  /* desktop XL uniquement */

.header-bottom {
 border: 0;
 box-shadow:none;
}


// ====================
// BOUTONS FONCTIONNEMENT
// ====================

.btn-fonctionnement {
  width:30%;
  height: 72px;
 }
.choix {
 margin-left:90px;
 margin-right: 90px;
}

.fonctionnement h2 {
 margin-left:  90px;
 margin-right: 90px;
}
.restaurants {
  padding-left: 90px;
  padding-right: 90px;
}

.card {
   display: flex;
   flex-direction: column; 
   width: 50%;
 }


.restaurants-cards {

  display: flex;
  flex-wrap: wrap;
   
}
// ====================
// FOOTER
// ====================

footer {
  padding: 0 $spacing-md 0 $spacing-md;
  
 .footer-title {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
   padding-top: 40px;

  }

  ul {
  
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: $spacing-md;
    padding-right: 193px;
  
  
  }

}

// ====================
// PAGE MENU RESTAURANT
// ====================




.carte {
  margin-left: 193px;
  margin-right: 193px;
}

}
@media (min-width: 1920px) {
  /* ultra-wide, TV */

.header-bottom {
 border: 0;
 box-shadow:none;
}


// ====================
// BOUTONS FONCTIONNEMENT
// ====================

.btn-fonctionnement {
  width:30%;
  height: 72px;
 }
.choix {
 display: flex;
 justify-content: center;
 margin-left:180px;
 margin-right: 180px;
 padding-right: 0;
 gap:40px;
}

.fonctionnement h2 {
 margin-left:  180px;
 margin-right: 90px;
}
.restaurants {
  padding-left:180px;
  padding-right: 180px;
}

.card {
   display: flex;
   flex-direction: column; 
   width: 50%;
 }


.restaurants-cards {

  display: flex;
  flex-wrap: wrap;
   
}
// ====================
// FOOTER
// ====================

footer {
  padding: 0 $spacing-md 0 $spacing-md;
  
 .footer-title {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0;
   padding-top: 40px;

  }

  ul {
  
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: $spacing-md;
    padding-right: 193px;
  
  
  }

}

// ====================
// PAGE MENU RESTAURANT
// ====================




.carte {
  margin-left: 193px;
  margin-right: 193px;
}


}
