// ====================
// FLEXBOX MIXINS
// ====================

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-start {
 display: flex;
  flex-direction: column;
  align-items: flex-start;
}

// ====================
// BOX SHADOW MIXINS
// ====================

@mixin box-shadow-light {
  box-shadow: 0px 4px 15px 0px #0000001a;
}

@mixin box-shadow-medium {
  box-shadow: 0px 4px 15px 0px #00000026;
}

@mixin box-shadow-dark {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin box-shadow-hover {
  box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.38);
}

// ====================
// GRADIENT MIXINS
// ====================

@mixin gradient-primary {
  background: linear-gradient(to top, $primary-color, $secondary-color);
}

// ====================
// BUTTON HOVER EFFECT
// ====================

@mixin button-hover {
  transition: $transition-slow;
  
  &:hover {
    filter: brightness(1.3);
    @include box-shadow-hover;
  }
}
